{
  "swagger": "2.0",
  "info": {
    "version": "2020-01-01",
    "title": "ConsumptionManagementClient",
    "description": "Consumption management client provides access to consumption resources for Azure Enterprise Subscriptions."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/reservationTransactions": {
      "get": {
        "tags": [
          "ReservationTransactions"
        ],
        "operationId": "ReservationTransactionsByBillingAccount_List",
        "description": "List of transactions for reserved instances on billing account scope",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "ReservationTransaction": {
            "$ref": "./examples/ReservationTransactionsListByBillingAccount.json"
          }
        },
        "parameters": [
          {
            "name": "$filter",
            "description": "Filter reservation transactions by date range. The properties/EventDate for start date and end date. The filter supports 'le' and  'ge' ",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ModernReservationTransactionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{{billingProfileId}}/providers/Microsoft.Consumption/reservationTransactions": {
      "get": {
        "tags": [
          "GtmReservationTransactions"
        ],
        "operationId": "ReservationTransactionsByBillingProfile_List",
        "description": "List of transactions for reserved instances on billing profile scope",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "ReservationTransaction": {
            "$ref": "./examples/ReservationTransactionsListByBillingProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/billingProfileIdParameter"
          },
          {
            "$ref": "#/parameters/startDateParameter"
          },
          {
            "$ref": "#/parameters/endDateParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ModernReservationTransactionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ModernReservationTransaction": {
      "description": "Reservation transaction resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ModernReservationTransactionProperties",
          "title": "Reservation Transaction properties"
        }
      }
    },
    "ModernReservationTransactionsListResult": {
      "description": "Result of listing reservation transactions",
      "properties": {
        "value": {
          "description": "The list of reservation transactions.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ModernReservationTransaction"
          }
        }
      }
    },
    "ModernReservationTransactionProperties": {
      "default": "The properties of the reservation transaction.",
      "properties": {
        "eventDate": {
          "description": "The date of the transaction",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "reservationOrderId": {
          "description": "The reservation order ID is the identifier for a reservation purchase. Each reservation order ID represents a single purchase transaction. A reservation order contains reservations. The reservation order specifies the VM size and region for the reservations.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "The description of the transaction.",
          "type": "string",
          "readOnly": true
        },
        "eventType": {
          "description": "The type of the transaction (Purchase, Cancel, etc.)",
          "type": "string",
          "readOnly": true
        },
        "quantity": {
          "description": "The quantity of the transaction.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "amount": {
          "description": "The charge of the transaction.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "currency": {
          "description": "The ISO currency in which the transaction is charged, for example, USD.",
          "type": "string",
          "readOnly": true
        },
        "reservationOrderName": {
          "description": "The name of the reservation order.",
          "type": "string",
          "readOnly": true
        },
        "purchasingSubscriptionGuid": {
          "description": "The subscription guid that makes the transaction.",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "purchasingSubscriptionName": {
          "description": "The subscription name that makes the transaction.",
          "type": "string",
          "readOnly": true
        },
        "armSkuName": {
          "description": "This is the ARM Sku name. It can be used to join with the serviceType field in additional info in usage records.",
          "type": "string",
          "readOnly": true
        },
        "term": {
          "description": "This is the term of the transaction.",
          "type": "string",
          "readOnly": true
        },
        "region": {
          "description": "The region of the transaction.",
          "type": "string",
          "readOnly": true
        },
        "billingFrequency": {
          "description": "The billing frequency, which can be either one-time or recurring.",
          "type": "string",
          "readOnly": true
        },
        "invoice": {
          "description": "Invoice Number",
          "type": "string",
          "readOnly": true
        },
        "invoiceId": {
          "description": "Invoice Id as on the invoice where the specific transaction appears.",
          "type": "string",
          "readOnly": true
        },
        "invoiceSectionId": {
          "description": "Invoice Section Id",
          "type": "string",
          "readOnly": true
        },
        "invoiceSectionName": {
          "description": "Invoice Section Name.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ErrorDetails": {
      "description": "The details of the error.",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message. \n\nSome Error responses: \n\n * 429 TooManyRequests - Request is throttled. Retry after waiting for the time specified in the \"x-ms-ratelimit-microsoft.consumption-retry-after\" header. \n\n * 503 ServiceUnavailable - Service is temporarily unavailable. Retry after waiting for the time specified in the \"Retry-After\" header.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The details of the error.",
          "$ref": "#/definitions/ErrorDetails"
        }
      }
    },
    "Operation": {
      "description": "A Consumption REST API operation.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}.",
          "type": "string",
          "readOnly": true
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.Consumption.",
              "type": "string",
              "readOnly": true
            },
            "resource": {
              "description": "Resource on which the operation is performed: UsageDetail, etc.",
              "type": "string",
              "readOnly": true
            },
            "operation": {
              "description": "Operation type: Read, write, delete, etc.",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "OperationListResult": {
      "description": "Result of listing consumption operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "description": "List of consumption operations supported by the Microsoft.Consumption resource provider.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Operation"
          }
        },
        "nextLink": {
          "description": "URL to get the next set of operation list results if there are any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Resource": {
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        },
        "tags": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request. The current version is 2020-01-01."
    },
    "billingAccountIdParameter": {
      "name": "billingAccountId",
      "in": "path",
      "description": "BillingAccount ID",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "billingProfileIdParameter": {
      "name": "billingProfileId",
      "in": "path",
      "description": "Azure Billing Profile ID.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "endDateParameter": {
      "name": "endDate",
      "in": "query",
      "description": "End date",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "startDateParameter": {
      "name": "startDate",
      "in": "query",
      "description": "Start date",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
